{% extends "_layouts/cp" %}

{% set fullPageForm = true %}
{% set title = "Redirects"|t('redirect') %}

{% set docsUrl = 'https://github.com/Dolphiq/craft3-plugin-redirect' %}

{% import "_includes/forms" as forms %}

{% block content %}
    <input type="hidden" name="action" value="redirect/settings/save-redirect">
    <input type="hidden" name="pluginHandle" value="redirect">
    <input type="hidden" name="redirectUrl" value="{{ url( pathPrefix ~ 'redirect') }}">

    {{ redirectInput('settings/redirect') }}

    {% if redirect.id %}<input type="hidden" name="redirectId" value="{{ redirect.id }}">{% endif %}
    {% if redirect.uid %}<input type="hidden" name="uid" value="{{ redirect.uid }}">{% endif %}
    <div class="readable">
        <p>{{ "You can use the Redirect plugin to redirect simple routes but also use it for more advanced route matches with parameters"|t('redirect') }}
            .<br><a target="_blank"
                    href="https://github.com/Dolphiq/craft3-plugin-redirect/blob/master/RULES.md">{{ "See some examples and instructions here"|t('redirect') }}</a>.
        </p>
        <br>
    </div>
    <div id="categorygroup-settings">
        {% if craft.app.getIsMultiSite() %}
            {{ forms.selectField({
                label: "Site"|t('redirect'),
                instructions: "Site"|t('redirect'),
                id: 'site-id',
                name: 'siteId',
                options: editableSitesOptions,
                value: currentSiteId,
                toggle: true,
                targetPrefix: '.siteId-',
                errors: redirect.getErrors('siteId')
            }) }}
        {% endif %}

        {{ forms.textField({
            label: "Source URL"|t('redirect'),
            instructions: "The URL to be redirected"|t('redirect'),
            id: 'source-url',
            class: 'ltr',
            name: 'sourceUrl',
            value: redirect.sourceUrl,
            errors: redirect.getErrors('sourceUrl'),
            autofocus: true,
            required: true
        }) }}

        {{ forms.textField({
            label: "Destination URL"|t('redirect'),
            instructions: "The final URL"|t('redirect'),
            id: 'destination-url',
            class: 'ltr',
            name: 'destinationUrl',
            value: redirect.destinationUrl,
            errors: redirect.getErrors('destinationUrl'),
            required: true
        }) }}
        {{ forms.selectField({
            label: "Redirect type"|t('redirect'),
            instructions: "Redirect status code"|t('redirect'),
            id: 'status-code',
            name: 'statusCode',
            options: statusCodeOptions,
            value: redirect.statusCode,
            toggle: true,
            targetPrefix: '.statusCode-',
            errors: redirect.getErrors('statusCode')
        }) }}
    </div>

{% endblock %}


