{% set title = "Redirect entries"|t('redirect') %}
{% set elementType = 'dolphiq\\redirect\\elements\\Redirect' %}

{% set docsUrl = 'https://github.com/Dolphiq/craft3-plugin-redirect' %}


{% block actionButton %}
    <a href="{{ url( pathPrefix ~ 'redirect/new') }}" class="submit btn add icon">{{ "New redirect"|t('redirect') }}</a>
{% endblock %}

{% extends "_layouts/cp" %}

{% set elementInstance = craft.app.elements.createElement(elementType) %}
{% set context = 'index' %}

{% if not elementInstance %}
    {% exit 404 %}
{% endif %}

{% set sources = craft.app.elementIndexes.getSources(elementType, 'index') %}

{% set showSiteMenu = (craft.app.getIsMultiSite() ? (showSiteMenu ?? 'auto') : false) %}
{% if showSiteMenu == 'auto' %}
    {% set showSiteMenu = elementInstance.isLocalized() %}
{% endif %}


{% block contextMenu %}
    {% if showSiteMenu %}
        {% include "_elements/sitemenu" %}
    {% endif %}
{% endblock %}


{% block sidebar %}
    <nav>
        {% for itemId, item in navItems %}
            {% if item %}
                {% set itemIsSelected = false %}
                <li style="list-style-type: none;"><a{% if itemIsSelected %} class="sel"{% endif %}
                            href="{{ item.url }}">{{ item.label }}</a></li>
            {% endif %}
        {% endfor %}
    </nav>

    <nav>
        {% if sources is not empty %}
            {% include "_elements/sources" %}
        {% endif %}
    </nav>

{% endblock %}


{% block content %}
    <div class="elementindex">
        {% include "_elements/indexcontainer" with {
        showSiteMenu: false
        } %}
    </div>
{% endblock %}


{% block initJs %}
    Craft.elementIndex = Craft.createElementIndex('{{ elementType|e("js") }}', $('#main'), {
    context:        '{{ context }}',
    storageKey:     'elementindex.{{ elementType }}',
    criteria:       Craft.defaultIndexCriteria
    });
{% endblock %}

{% js block('initJs') %}
